---
import Layout from '~/layouts/PageLayout.astro';

import Features from '~/components/widgets/Features.astro';
import Boxes from '~/components/widgets/Boxes.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import InnerTitle from '~/components/widgets/InnerTitle.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Buy Bitcoin Cash BCH',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- InnerTitle Widget ******************* -->

  <InnerTitle>
    <Fragment slot="title">Buy & Sell Bitcoin Cash</Fragment>

    <Fragment slot="subtitle">You have countless options for buying and selling BCH.</Fragment>
  </InnerTitle>

  <Boxes
    title="How to Buy & Sell BCH"
    subtitle="Here are some recommended options for buying and selling Bitcoin Cash BCH. Act with care, use reputable exchanges and be sure to hold your coins securely. It is not recommended to leave your coins on centralized exchanges indefinitely."
    highlight="Buy some BCH"
    items={[
      {
        title: 'Kraken',
        description: 'Global',
        icon: 'https://static.panmoni.com/bitcoincashsite/kraken.jpeg',
        url: 'https://www.kraken.com/',
      },
      {
        title: 'Gemini',
        description: 'Global',
        icon: 'https://static.panmoni.com/bitcoincashsite/gemini.png',
        url: 'https://www.gemini.com/',
      },
      {
        title: 'Zapit',
        description: 'Global. Peer-to-Peer.',
        icon: 'https://static.panmoni.com/bitcoincashsite/zapit.png',
        url: 'https://www.zapit.io/p2p-exchange',
      },
      {
        title: 'SideShift.ai',
        description: 'Crypto to Crypto',
        icon: 'https://static.panmoni.com/bitcoincashsite/sideshift.jpeg',
        url: 'https://sideshift.ai/a/M5lugcihP',
      },
      {
        title: 'BitcoinVN',
        description: 'Crypto to Crypto and VND',
        icon: 'https://static.panmoni.com/bitcoincashsite/bitcoinvn.png',
        url: 'https://bitcoinvn.io/',
      },
      {
        title: 'ThorSwap',
        description: 'Crypto to Crypto',
        icon: 'https://static.panmoni.com/bitcoincashsite/thorswap.png',
        url: 'https://app.thorswap.finance/swap',
      },
      {
        title: 'Coinbase',
        description: 'Global',
        icon: 'https://static.panmoni.com/bitcoincashsite/coinbase.png',
        url: 'https://www.coinbase.com/',
      },
      {
        title: 'Binance',
        description: 'Global',
        icon: 'https://static.panmoni.com/bitcoincashsite/binance.jpeg',
        url: 'https://www.binance.com/',
      },
      {
        title: 'OKX',
        description: 'Global',
        icon: 'https://static.panmoni.com/bitcoincashsite/okx2.png',
        url: 'https://www.okx.com/',
      },
      {
        title: 'CoinEx',
        description: 'Global',
        icon: 'https://static.panmoni.com/bitcoincashsite/coinex.png',
        url: 'https://www.coinex.com/',
      },
      {
        title: 'Huobi',
        description: 'Global',
        icon: 'https://static.panmoni.com/bitcoincashsite/huobi.jpeg',
        url: 'https://www.huobi.com/',
      },
      {
        title: 'Buda',
        description: 'Latin America',
        icon: 'https://static.panmoni.com/bitcoincashsite/buda.png',
        url: 'https://www.buda.com/',
      },

      {
        title: 'ShapeShift',
        description: 'Crypto to Crypto',
        icon: 'https://static.panmoni.com/bitcoincashsite/shapeshift.jpeg',
        url: 'https://shapeshift.com/',
      },

      {
        title: 'CoinCola',
        description: 'Peer-to-Peer',
        icon: 'https://static.panmoni.com/bitcoincashsite/coincola.jpeg',
        url: 'https://www.coincola.com/',
      },
      {
        title: 'CoinATMRadar',
        description: 'ATMs near you',
        icon: 'https://static.panmoni.com/bitcoincashsite/coinatmradar.jpeg',
        url: 'https://coinatmradar.com/bitcoin-cash-atm-map/',
      },
    ]}
  />

  <Hero>
    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/arFDrjx_2JY"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Hero>

  <!-- Why BCH -->

  <Features
    highlight=""
    title="Why Bitcoin Cash"
    subtitle="What makes Bitcoin Cash special and what can you do with it?"
    items={[
      {
        title: 'Micro-Fees',
        description:
          "With Bitcoin Cash, it costs almost nothing to send value from one side of the planet to the other. That's  more money in your pocket & new use cases.",
        // icon: 'tabler:wallet',
      },
      {
        title: 'Scalable',
        description:
          'Bitcoin Cash is world-scale peer-to-peer electronic cash that can scale to serve billions of daily users. As you grow, Bitcoin Cash grows with you. No limits!',
        // icon: 'tabler:trending-up',
      },
      {
        title: 'Unstoppable',
        description:
          "No one can close your Bitcoin Cash wallet or freeze your funds. With optional privacy and built-in censorship resistance, BCH can't be stopped!",
        // icon: 'tabler:rocket',
      },

      {
        title: 'Safe Haven',
        description:
          'Hyper-inflation and other government corruption reducing the value of your bank deposits? withdrawals limited? Bitcoin Cash fixes that.',
        // icon: 'tabler:shield-check',
      },
      {
        title: 'Remittances',
        description:
          'Send money home across the world right now, no forms, no limits, no rejected transactions and almost no fees. Now you can do that with Bitcoin Cash.',
        // icon: 'tabler:cash',
      },
      {
        title: 'Cross-Border',
        description:
          'Pay for your goods and services across borders, without limits, bank costs, delays and with almost no fees. Bitcoin Cash works everywhere!',
        // icon: 'tabler:world',
      },
    ]}
  />

  <!-- End Why BCH -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get BCH updates',
        href: 'https://t.me/bitcoincashsite',
        target: '_blank',
        // icon: 'tabler:brand-telegram',
      },
    ]}
  >
    <Fragment slot="title">Get BCH Updates</Fragment>

    <Fragment slot="subtitle">Stay up-to-date with Bitcoin Cash!</Fragment>
  </CallToAction>
</Layout>
