---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Boxes from '~/components/widgets/Boxes.astro';
import BigVid from '~/components/widgets/BigVid.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import InnerTitle from '~/components/widgets/InnerTitle.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>

  <!-- InnerTitle Widget ******************* -->

  <InnerTitle>
    <Fragment slot="title">
      About Cash Tokens
    </Fragment>

    <Fragment slot="subtitle">
      Cash Tokens is a major upgrade for BCH in 2023
    </Fragment>
  </InnerTitle>

  <div
  class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8 mb-8"
>

<p>Coming soon.</p>




### Tools
- [https://ide.bitauth.com/]
- cashscript playground [https://next-cashscript-playground.netlify.app/]


- [https://libauth.org/]
- [https://try.chaingraph.cash/](https://try.chaingraph.cash/)


### Educational Guides
- Harvard CS50 [https://www.youtube.com/watch?v=8mAITcNt710]
- Mastering Bitcoin [https://github.com/bitcoinbook/bitcoinbook/blob/develop/book.asciidoc]
- [https://cashscript.org/]
- [https://mainnet.cash/]
- [https://read.cash/@pat/mainnetcash-getting-started-a75b2fc6]
- [https://read.cash/@pat/mainnetcash-using-rest-server-ceee972d]
- CashScript Video Tutorials from mr-zwets from before Cash Tokens [https://www.youtube.com/playlist?list=PL6IWHNFTaMnyDumjCU03-q9IURuQFs\_cf]
- Cash Tokens Video Guides from mr-zwets [https://www.youtube.com/playlist?list=PL6IWHNFTaMnxc7STdoEYvmbe18xxZy8Z0]
- Cash Tokens for Beginners from r/cashtokens [https://www.reddit.com/r/cashtokens/comments/11xdp1s/what\_is\_cashtokens\_a\_simple\_guide\_for\_beginners/]
- https://documentation.cash

### Websites

- [https://helpme.cash/CashTokens/]
- https://cashtokens.org
- [https://otr.cash/]

### NFT Series

- [https://bch.guru/]
- [https://bitcatsheroes.club/]

To trade NFTs, visit tapswap.cash.

### YouTube Channels

- MrZwets [https://www.youtube.com/@mrzwets]
- [https://www.youtube.com/@RealBitcoinCashSite]

### Telegram Groups

- [https://t.me/cashtoken\_devs]
- [https://t.me/mainnetcash]
- [https://t.me/Panmoni/315]

### Sub-Reddits

- [https://www.reddit.com/r/cashtokens/]

### Cash-Token-Enabled Block Explorers

- https://bch.loping.net/
- http://explorer.bitcoinunlimited.info/
- https://explorer.salemkode.com
- https://3xpl.com
- cash.coin.dance?

### Cash-Token-Enabled Wallets

- [https://github.com/cashonize/wallet]
- Paytaca
- Zapit

[https://www.bestbchwallets.com/]


### Apps Built with Cash Tokens 

- [https://gitlab.com/0353F40E/emerald-dao/-/tree/main] [https://github.com/mainnet-pat/emerald\_dao] [https://emerald-dao.cash/]
- [https://github.com/fex-cash/fex]
- [ps://cauldron.quest]
- [https://gitlab.com/0353F40E/simple-swap/-/tree/master/]

</div>
  
</Layout>
