---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
// import Note from '~/components/widgets/Note.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import stepsImg from '~/assets/images/steps.jpg';

// TODO: pull from metadata which is somewhere
const metadata = {
  title: 'Bitcoin Cash Site - Build your prosperity with Bitcoin Cash',
  description:
    'Learn how to build with Bitcoin Cash BCH, how to earn, buy, spend, mine and use BCH to enhance your access to prosperity.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Grab a Wallet',
        href: '/onboard',
        target: '_blank',
        icon: '',
      },
      { text: 'Start Building', href: '/build', icon: '' },
    ]}
  >
    <Fragment slot="title">Join the Bitcoin economy</Fragment>

    <Fragment slot="subtitle">Grow, build & profit with Bitcoin Cash</Fragment>

    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/ImiflXHbMIE"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Hero>

  <!-- <Note /> -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get started with BCH."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download a Wallet</span>',
        description: 'Download a trustworthy wallet, ideally open-source. Take your time and learn how it works.',
        // icon: 'tabler:download',
      },
      {
        title: 'Step 2: <span class="font-medium">Secure your Recovery Phrase</em>',
        description:
          'Get your recovery phrase from your wallet and securely back it up in multiple places before moving any funds to your new wallet.',
        // icon: 'tabler:lock',
      },
      {
        title: 'Step 3: <span class="font-medium">Buy some BCH</span>',
        description:
          'Pick up some BCH for your new wallet from a reputable trader or exchange. Take your time and do some research first.',
        // icon: 'tabler:currency-bitcoin',
      },
      {
        title: 'Ready!',
        // icon: 'tabler:check',
      },
    ]}
    image={{
      src: stepsImg,
      alt: 'Steps image',
    }}
  />

  <Hero>
    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/pe2h-fK4SiE"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    id="global-opportunities"
    tagline=""
    title="Bitcoin Cash: Global Opportunities"
    subtitle=""
    items={[
      {
        title: 'Build a BCH Business',
        description:
          'Serve clients with fast, low-fee remittances, accelerate cross-border trade, facilitate customers who are experiencing hyper-inflation to move to safe havens, provide liquidity to local merchants & more!',
        // icon: 'icon-park:factory-building',
        url: '/build',
      },
      {
        title: 'Develop a BCH Solution',
        description:
          'Learn to code or take your current skills and build apps with Bitcoin Cash. Wallets, media, messaging… let your imagination run wild. Or earn extra cash with bounties.',
        // icon: 'flat-color-icons:idea',
        url: '/build',
      },
      {
        title: 'Mine a BCH Block',
        description:
          'Earn BCH by processing transactions. Pick your full node software, buy a mining rig and join a pool — or try cloud mining. The world of Bitcoin Cash mining is yours to explore, and profit from.',
        // icon: 'noto:hammer-and-pick',
        url: '/mining',
      },
      {
        title: 'BCH for Remittances',
        description:
          'Bitcoin Cash moves across borders instantly, from one side of the world to another, without paperwork and almost for free. Buy BCH and send it home in seconds to cover essential expenses.',
        // icon: 'flat-color-icons:money-transfer',
        url: '/buy',
      },
      {
        title: 'Earn Bitcoin Cash',
        description:
          'Create media, complete tasks, provide freelance services, run a Flipstarter, fulfill bounties, run infrastructire and more to gain entry into the Bitcoin Cash economy today.',
        // icon: 'noto:briefcase',
        url: '/earn',
      },
      {
        title: 'Spend Bitcoin Cash',
        description:
          'Bitcoin Cash is peer-to-peer electronic cash that you can spend at merchants and online across the globe for real products and services, without getting anyone’s permission.',
        // icon: 'flat-color-icons:paid',
        url: '/spend',
      },
      {
        title: 'Accept Bitcoin Cash',
        description:
          'Accept Bitcoin Cash as a form of payment at your place of business, for your freelance gigs, to settle debts with friends and for any purpose at all! Gain entrée into the BCH economy.',
        // icon: 'flat-color-icons:ok',
        url: '/accept',
      },
      {
        title: 'Connect with BCH',
        description:
          'Get mentoring, learn from and make friends with like-minded BCH community members intent on expanding prosperity and liberty across the globe. Everyone is welcome in Bitcoin Cash.',
        // icon: 'flat-color-icons:collaboration',
        url: '/support',
      },
      {
        title: 'Invest in Bitcoin Cash',
        description:
          'Take a position in Bitcoin Cash BCH and position yourself to benefit from ecosystem growth. Be sure to first do your own research as returns are not guaranteed and losses are possible.',
        // icon: 'flat-color-icons:bullish',
        url: '/buy',
      },
    ]}
  />

  <!-- Big Vid good from here down-->

  <Hero>
    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/arFDrjx_2JY"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Hero>

  <!-- End Big Vid -->

  <!-- Why BCH -->

  <Features
    id="whybitcoincash"
    tagline=""
    title="Why Bitcoin Cash"
    subtitle="What makes Bitcoin Cash special and what can you do with it?"
    items={[
      {
        title: 'Micro-Fees',
        description:
          "With Bitcoin Cash, it costs almost nothing to send value from one side of the planet to the other. That's  more money in your pocket & new use cases.",
        // icon: 'tabler:wallet',
      },
      {
        title: 'Scalable',
        description:
          'Bitcoin Cash is world-scale peer-to-peer electronic cash that can scale to serve billions of daily users. As you grow, Bitcoin Cash grows with you. No limits!',
        // icon: 'tabler:trending-up',
      },
      {
        title: 'Unstoppable',
        description:
          "No one can close your Bitcoin Cash wallet or freeze your funds. With optional privacy and built-in censorship resistance, BCH can't be stopped!",
        // icon: 'tabler:rocket',
      },
      {
        title: 'Safe Haven',
        description:
          'Hyper-inflation and other government corruption reducing the value of your bank deposits? withdrawals limited? Bitcoin Cash fixes that.',
        // icon: 'tabler:shield-check',
      },
      {
        title: 'Remittances',
        description:
          'Send money home across the world right now, no forms, no limits, no rejected transactions and almost no fees. Now you can do that with Bitcoin Cash.',
        // icon: 'tabler:cash',
      },
      {
        title: 'Cross-Border',
        description:
          'Pay for your goods and services across borders, without limits, bank costs, delays and with almost no fees. Bitcoin Cash works everywhere!',
        // icon: 'tabler:world',
      },
    ]}
  />

  <!-- End Why BCH -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts title="Bitcoin Cash Blog" />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get BCH updates',
        href: 'https://t.me/bitcoincashsite',
        target: '_blank',
        // icon: 'tabler:brand-telegram',
      },
    ]}
  >
    <Fragment slot="title">Get BCH Updates</Fragment>

    <Fragment slot="subtitle">Stay up-to-date with Bitcoin Cash!</Fragment>
  </CallToAction>
</Layout>
