---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BigVid from '~/components/widgets/BigVid.astro';
import BigVid2 from '~/components/widgets/BigVid2.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<!--hero + features2 with uses + big video + they’re talking about + big video + features with why bch + LatestPosts +  -->

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Grab a Wallet', href: '/onboard', icon: 'tabler:wallet' }}
    callToAction2={{ text: 'Start Building', href: '/build', icon: 'tabler:code' }}
    image={}
  >
    <Fragment slot="title">
      Join the Bitcoin economy
    </Fragment>

    <Fragment slot="subtitle">
        Grow, build & profit with Bitcoin Cash
    </Fragment>

    <Fragment slot="image">
      <div class="grid place-items-center">
        <div class="aspect-video min-h-[560px] max-h[1080px]">
          <iframe src="https://www.youtube.com/embed/dsTXcSeAZq8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="content-center"></iframe>
        </div>
      </div>
    </Fragment>
  </Hero>

  <BigVid2
  video='<iframe class="w-full h-full" src="https://www.youtube.com/embed/ImiflXHbMIE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'
/>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get started with BCH."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download a Wallet</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula.',
        icon: 'tabler:download',
      },
      {
        title: 'Step 2: <span class="font-medium">Secure your Recovery Phrase</em>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
        icon: 'tabler:lock',
      },
      {
        title: 'Step 3: <span class="font-medium">Buy some BCH</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:currency-bitcoin',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/steps-home.jpg'),
      alt: 'Man in mountains',
    }}
  />

  <BigVid2
  video='<iframe class="w-full h-full" src="https://www.youtube.com/embed/pe2h-fK4SiE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'
/>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    highlight="Components"
    items={[
      {
        title: 'Headers',
        description:
          'In general, Headers contain information that makes it easier for visitors to interact with the website.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Display your product in action and how the Features actually create a solution for your target customer.',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Content',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'icon-park:page-template',
      },
    ]}
  />

    <!-- Big Vid good from here down-->

    <BigVid
    video='<iframe class="w-full h-full" src="https://www.youtube.com/embed/arFDrjx_2JY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'
  />
  
  
    <!-- End Big Vid -->
    
    <!-- Why BCH -->
  
    <Features
    highlight=""
    title="Why Bitcoin Cash"
    subtitle="What makes Bitcoin Cash special and what can you do with it?"
    items={[
      [
        {
          title: 'Micro-Fees',
          description:
            'With Bitcoin Cash, it costs almost nothing to send value from one side of the planet to the other. That\'s  more money in your pocket & new use cases.',
          icon: 'tabler:wallet',
        },
        {
          title: 'Scalable',
          description:
            'Bitcoin Cash is world-scale peer-to-peer electronic cash that can scale to serve billions of daily users. As you grow, Bitcoin Cash grows with you. No limits!',
          icon: 'tabler:trending-up',
        },
        {
          title: 'Unstoppable',
          description:
            'No one can close your Bitcoin Cash wallet or freeze your funds. With optional privacy and built-in censorship resistance, BCH can\'t be stopped!',
          icon: 'tabler:rocket',
        },
      ],
      [
        {
          title: 'Safe Haven',
          description:
            'Hyper-inflation and other government corruption reducing the value of your bank deposits? withdrawals limited? Bitcoin Cash fixes that.',
          icon: 'tabler:shield-check',
        },
        {
          title: 'Remittances',
          description:
            'Send money home across the world right now, no forms, no limits, no rejected transactions and almost no fees. Now you can do that with Bitcoin Cash.',
          icon: 'tabler:cash',
        },
        {
          title: 'Cross-Border',
          description:
            'Pay for your goods and services across borders, without limits, bank costs, delays and with almost no fees. Bitcoin Cash works everywhere!',
          icon: 'tabler:world',
        },
      ],
    ]}
    />
  
    <!-- End Why BCH -->

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Bitcoin Cash Blog"
    information={`Discover what BCH is building.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

  
  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Get BCH updates',
      href: 'https://t.me/bitcoincashsite',
      icon: 'tabler:brand-telegram',
    }}
  >
    <Fragment slot="title">
      Get BCH Updates
    </Fragment>

    <Fragment slot="subtitle">
      Stay up-to-date with Bitcoin Cash! 
    </Fragment>
  </CallToAction>
</Layout>
