---
import Layout from '~/layouts/PageLayout.astro';

import Features from '~/components/widgets/Features.astro';
import Boxes from '~/components/widgets/Boxes.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import InnerTitle from '~/components/widgets/InnerTitle.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'BCH Mining',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- InnerTitle Widget ******************* -->

  <InnerTitle>
    <Fragment slot="title">Bitcoin Cash Mining</Fragment>

    <Fragment slot="subtitle">
      Mining BCH requires a significant capital investment and inexpensive electricity.
    </Fragment>
  </InnerTitle>

  <Boxes
    title="BCH Mining Options"
    subtitle="Here are some recommended Bitcoin Cash BCH mining pools, tools and guides."
    highlight="Mine a BCH block"
    items={[
      {
        title: 'AntPool',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/antpool.jpeg',
        url: 'https://antpool.com/',
      },
      {
        title: 'ViaBTC',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/viabtc.png',
        url: 'https://www.viabtc.com/pool/state',
      },
      {
        title: 'F2Pool',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/f2pool.jpeg',
        url: 'https://www.f2pool.com/',
      },
      {
        title: 'BTC.com',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/btcom.jpeg',
        url: 'https://pool.btc.com/',
      },
      {
        title: 'BTC.top',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/btctop.jpeg',
        url: 'https://btc.top/',
      },
      {
        title: 'Bitcoin.com',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/bitcoincom.jpeg',
        url: 'https://console.pool.bitcoin.com/',
      },
      {
        title: 'Poolin',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/poolin.jpeg',
        url: 'https://www.poolin.com/',
      },
      {
        title: 'Mining-Dutch',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/mining-dutch.jpeg',
        url: 'https://www.mining-dutch.nl/',
      },
      {
        title: 'Prohashing',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/prohashing.png',
        url: 'https://prohashing.com/',
      },
      {
        title: 'P2Pool',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/p2pool.jpeg',
        url: 'http://p2pool.in/',
      },
      {
        title: 'HuobiPool',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/huobipool.jpeg',
        url: 'https://www.huobipool.com/',
      },
      {
        title: 'SpiderPool',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/spiderpool.png',
        url: 'https://www.spiderpool.com/',
      },
      {
        title: 'FoundryUSAPool',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/foundry.jpeg',
        url: 'https://foundrydigital.com/',
      },
      {
        title: 'SoloMining.io',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/solomining.jpeg',
        url: 'https://solomining.io/',
      },
      {
        title: 'BinancePool',
        description: '',
        icon: 'https://static.panmoni.com/bitcoincashsite/binancepool.jpeg',
        url: 'https://pool.binance.com/',
      },
    ]}
  />

  <Hero>
    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/arFDrjx_2JY"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Hero>

  <!-- Why BCH -->

  <Features
    highlight=""
    title="Why Bitcoin Cash"
    subtitle="What makes Bitcoin Cash special and what can you do with it?"
    items={[
      {
        title: 'Micro-Fees',
        description:
          "With Bitcoin Cash, it costs almost nothing to send value from one side of the planet to the other. That's  more money in your pocket & new use cases.",
        // icon: 'tabler:wallet',
      },
      {
        title: 'Scalable',
        description:
          'Bitcoin Cash is world-scale peer-to-peer electronic cash that can scale to serve billions of daily users. As you grow, Bitcoin Cash grows with you. No limits!',
        // icon: 'tabler:trending-up',
      },
      {
        title: 'Unstoppable',
        description:
          "No one can close your Bitcoin Cash wallet or freeze your funds. With optional privacy and built-in censorship resistance, BCH can't be stopped!",
        // icon: 'tabler:rocket',
      },

      {
        title: 'Safe Haven',
        description:
          'Hyper-inflation and other government corruption reducing the value of your bank deposits? withdrawals limited? Bitcoin Cash fixes that.',
        // icon: 'tabler:shield-check',
      },
      {
        title: 'Remittances',
        description:
          'Send money home across the world right now, no forms, no limits, no rejected transactions and almost no fees. Now you can do that with Bitcoin Cash.',
        // icon: 'tabler:cash',
      },
      {
        title: 'Cross-Border',
        description:
          'Pay for your goods and services across borders, without limits, bank costs, delays and with almost no fees. Bitcoin Cash works everywhere!',
        // icon: 'tabler:world',
      },
    ]}
  />

  <!-- End Why BCH -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get BCH updates',
        href: 'https://t.me/bitcoincashsite',
        target: '_blank',
        // icon: 'tabler:brand-telegram',
      },
    ]}
  >
    <Fragment slot="title">Get BCH Updates</Fragment>

    <Fragment slot="subtitle">Stay up-to-date with Bitcoin Cash!</Fragment>
  </CallToAction>
</Layout>
