---
import Boxes from "~/components/widgets/Boxes.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Features from "~/components/widgets/Features.astro";
import Hero from "~/components/widgets/Hero.astro";
import InnerTitle from "~/components/widgets/InnerTitle.astro";
import Layout from "~/layouts/PageLayout.astro";
import { getProjectsByCategory } from "~/utils/projects";

const metadata = {
	title: "Onboard to BCH",
	ignoreTitleTemplate: true,
};

const wallets = await getProjectsByCategory("wallet");
const hardwareWallets = await getProjectsByCategory("wallet:hardware");
---

<Layout metadata={metadata}>
  <InnerTitle>
    <Fragment slot="title">Onboard to Bitcoin Cash</Fragment>
    <Fragment slot="subtitle">Get your BCH wallet today and start earning Bitcoin Cash</Fragment>
  </InnerTitle>

  <Boxes
    title="Bitcoin Cash Wallets"
    subtitle="To get started with Bitcoin Cash, download your wallet."
    highlight=""
    items={wallets}
  />

  <Boxes subtitle="Hardware Wallets" items={hardwareWallets} />

  <Hero>
    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/arFDrjx_2JY"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Hero>

  <Features
    highlight=""
    title="Why Bitcoin Cash"
    subtitle="What makes Bitcoin Cash special and what can you do with it?"
    items={[
      {
        title: 'Micro-Fees',
        icon: 'tabler:wallet',
        description:
          "With Bitcoin Cash, it costs almost nothing to send value from one side of the planet to the other. That's  more money in your pocket & new use cases.",
      },
      {
        title: 'Scalable',
        icon: 'tabler:trending-up',
        description:
          'Bitcoin Cash is world-scale peer-to-peer electronic cash that can scale to serve billions of daily users. As you grow, Bitcoin Cash grows with you. No limits!',
      },
      {
        title: 'Unstoppable',
        icon: 'tabler:rocket',
        description:
          "No one can close your Bitcoin Cash wallet or freeze your funds. With optional privacy and built-in censorship resistance, BCH can't be stopped!",
      },
      {
        title: 'Safe Haven',
        icon: 'tabler:shield-check',
        description:
          'Hyper-inflation and other government corruption reducing the value of your bank deposits? withdrawals limited? Bitcoin Cash fixes that.',
      },
      {
        title: 'Remittances',
        icon: 'tabler:cash',
        description:
          'Send money home across the world right now, no forms, no limits, no rejected transactions and almost no fees. Now you can do that with Bitcoin Cash.',
      },
      {
        title: 'Cross-Border',
        icon: 'tabler:world',
        description:
          'Pay for your goods and services across borders, without limits, bank costs, delays and with almost no fees. Bitcoin Cash works everywhere!',
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get BCH updates',
        href: 'https://t.me/bitcoincashsite',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">Get BCH Updates</Fragment>
    <Fragment slot="subtitle">Stay up-to-date with Bitcoin Cash!</Fragment>
  </CallToAction>
</Layout>
