---
import Layout from '~/layouts/PageLayout.astro';

import Features from '~/components/widgets/Features.astro';
import Boxes from '~/components/widgets/Boxes.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import InnerTitle from '~/components/widgets/InnerTitle.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'BCH Support',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- InnerTitle Widget ******************* -->

  <InnerTitle>
    <Fragment slot="title">Bitcoin Cash Support</Fragment>

    <Fragment slot="subtitle">Connect with other builders and get support.</Fragment>
  </InnerTitle>

  <Boxes
    title="How to Get Help with BCH"
    subtitle="Bitcoin Cash has lots of support and discussion options for you."
    highlight=""
    items={[
      {
        title: 'r/BCHCashTokens',
        description: 'BCH-specific discussion.',
        icon: 'https://static.panmoni.org/bitcoincashsite/reddit.jpeg',
        url: 'https://www.reddit.com/r/BCHCashTokens/',
      },
      {
        title: 'BitcoinCashSite',
        description: 'BCH livestreams & tutorials.',
        icon: 'https://static.panmoni.org/bitcoincashsite/youtube.png',
        url: 'https://www.youtube.com/@RealBitcoinCashSite',
      },
      {
        title: 'BitcoinCashResearch.org',
        description: 'BCH research forum.',
        icon: 'https://static.panmoni.org/bitcoincashsite/research.png',
        url: 'https://bitcoincashresearch.org/',
      },
      {
        title: 'Bitcoin Cash Node',
        description: 'BCH full node support.',
        icon: 'https://static.panmoni.org/bitcoincashsite/telegram.jpeg',
        url: 'https://t.me/bitcoincashnode',
      },
      {
        title: 'Panmoni Telegram Channel',
        description: 'General BCH support.',
        icon: 'https://static.panmoni.org/bitcoincashsite/panmoni.png',
        url: 'https://t.me/panmoni',
      },
    ]}
  />

  <Boxes
    title=""
    subtitle="Media"
    highlight=""
    items={[
      {
        title: 'Memo.cash',
        description: 'On-chain social network.',
        icon: 'https://static.panmoni.org/bitcoincashsite/memocash.png',
        url: 'https://memo.cash/',
      },
      {
        title: 'Noise',
        description: 'An invite-only social network.',
        icon: 'https://static.panmoni.org/bitcoincashsite/noise.png',
        url: 'https://noise.app/',
      },
      {
        title: 'Read.cash',
        description: 'BCH Medium clone.',
        icon: 'https://static.panmoni.org/bitcoincashsite/readcash.jpeg',
        url: 'https://read.cash/',
      },
      {
        title: 'BCHouse.app',
        description: 'BCH social network.',
        icon: 'https://static.panmoni.org/bitcoincashsite/bchouseapp.png',
        url: 'https://bchouse.app/',
      },
    ]}
  />

  <Boxes
    title=""
    subtitle="Podcasts & YouTube Channels"
    highlight=""
    items={[
      {
        title: 'Mathieu Geukens',
        description: 'CashTokens tutorials & news.',
        icon: 'https://static.panmoni.org/bitcoincashsite/mrzwets.png',
        url: 'https://www.youtube.com/@mrzwets',
      },
      {
        title: 'Paytaca',
        description: 'Podcast & more.',
        icon: 'https://static.panmoni.org/bitcoincashsite/paytaca.png',
        url: 'https://www.youtube.com/@paytaca6473',
      },
      {
        title: 'General Protocols',
        description: 'Technical discussion.',
        icon: 'https://static.panmoni.org/bitcoincashsite/generalprotocols.png',
        url: 'https://www.youtube.com/@generalprotocols',
      },
      {
        title: 'Casual BCH Podcast',
        description: 'CashTokens tutorials & news.',
        icon: 'https://static.panmoni.org/bitcoincashsite/casualbch.png',
        url: 'https://open.spotify.com/show/4QuyQ5LHBb410sFXWINjd9',
      },
      {
        title: 'The Bitcoin Cash Podcast',
        description: 'BCH conversations.',
        icon: 'https://static.panmoni.org/bitcoincashsite/bchpodcast.png',
        url: 'https://bitcoincashpodcast.com/',
      },
      {
        title: 'BCH Network Discussions',
        description: 'BCH developers on YouTube.',
        icon: 'https://static.panmoni.org/bitcoincashsite/discussions.jpeg',
        url: 'https://www.youtube.com/channel/UCmyoHmbSsChInLzZ9S5aAAw',
      },
    ]}
  />

  <Boxes
    title=""
    subtitle="General BCH Websites"
    highlight=""
    items={[
      {
        title: 'BitcoinCash.org',
        description: 'One-page BCH website.',
        icon: 'https://static.panmoni.org/bitcoincashsite/bch.jpeg',
        url: 'https://bitcoincash.org/',
      },
      {
        title: 'HelpMe.cash',
        description: 'BCH projects and tools with events calendar.',
        icon: 'https://static.panmoni.org/bitcoincashsite/helpme.png',
        url: 'https://helpme.cash/',
      },
      {
        title: 'developers.cash',
        description: 'Developer reference.',
        icon: 'https://static.panmoni.org/bitcoincashsite/bch.jpeg',
        url: 'https://developers.cash/',
      },
      {
        title: 'BCH.info',
        description: 'BCH developer website.',
        icon: 'https://static.panmoni.org/bitcoincashsite/bchdotinfo.jpeg',
        url: 'https://bch.info/',
      },
      {
        title: 'Awesome Bitcoin Cash',
        description: 'Bitcoin Cash projects & resources.',
        icon: 'https://static.panmoni.org/bitcoincashsite/awesomebch.png',
        url: 'https://awesomebitcoin.cash/',
      },
      {
        title: 'Bitcoin Cash FAQ',
        description: 'Frequently asked BCH questions with comprehensive answers.',
        icon: 'https://static.panmoni.org/bitcoincashsite/bchfaq.png',
        url: 'https://bchfaq.com/',
      },
      {
        title: 'Bmap.app',
        description: 'A merchant map.',
        icon: 'https://static.panmoni.org/bitcoincashsite/bch.jpeg',
        url: 'https://bmap.app/',
      },
      {
        title: 'WhyBitcoinCash.com',
        description: 'Introductory BCH website.',
        icon: 'https://static.panmoni.org/bitcoincashsite/bch.jpeg',
        url: 'https://whybitcoincash.com/',
      },
      {
        title: 'Best BCH Wallets',
        description: 'Your guide to finding the ideal BCH wallet for you.',
        icon: 'https://static.panmoni.org/bitcoincashsite/bch.jpeg',
        url: 'https://www.bestbchwallets.com/',
      },
      {
        title: 'The Accept BCH Initiative',
        description: 'A community-curated list of merchants that accept BCH.',
        icon: 'https://static.panmoni.org/bitcoincashsite/acceptbchinitiative.png',
        url: 'https://acceptbitcoin.cash/',
      },
      {
        title: 'BTC vs BCH Energy Stats',
        description: 'Compare the energy usage of BTC and BCH.',
        icon: 'https://static.panmoni.org/bitcoincashsite/bch.jpeg',
        url: 'https://www.monsterbitar.se/~jonathan/energy/',
      },
    ]}
  />

  <Boxes
    title=""
    subtitle="Papers"
    highlight=""
    items={[
      {
        title: 'The Bitcoin Whitepaper',
        description: 'by Satoshi Nakamoto',
        icon: '',
        url: '/files/bitcoin.pdf',
      },
      {
        title: 'Letter from the CEO of BCH',
        description: 'by Rick Falkvinge',
        icon: '',
        url: 'https://falkvinge.net/wp-content/uploads/2017/11/letter-from-the-ceo.pdf',
      },
      {
        title: 'The Bitcoin Whitepaper Visualized',
        description: 'The whitepaper in comic format.',
        icon: '',
        url: 'https://web.archive.org/web/20230215013643/https://whitepaper.coinspice.io/',
      },
    ]}
  />

  <Boxes
    title=""
    subtitle="Utilities"
    highlight=""
    items={[
      {
        title: 'Coin.Dance',
        description: 'BCH blockchain info.',
        icon: '',
        url: 'https://cash.coin.dance/',
      },
      {
        title: 'BitcoinFees.Cash',
        description: 'BTC & BCH fee tracker.',
        icon: '',
        url: 'https://bitcoinfees.cash/',
      },
      {
        title: 'fork.lol',
        description: 'BCH blockchain info.',
        icon: '',
        url: 'https://fork.lol/',
      },
      {
        title: 'jochen-hoenicke.de',
        description: 'BCH mempool data.',
        icon: '',
        url: 'https://jochen-hoenicke.de/queue/#BCH,24h,weight',
      },
      {
        title: 'CashFusion Stats',
        description: 'CashFusion usage data.',
        icon: '',
        url: 'https://fusionstats.redteam.cash/',
      },
      {
        title: 'BitcoinFees.cash',
        description: 'Compare BTC vs BCH transaction fees in real-time.',
        icon: '',
        url: 'https://bitcoinfees.cash/',
      },
      {
        title: 'CashNodes.io',
        description: 'Shows currently active BCH full nodes.',
        icon: '',
        url: 'https://cashnodes.io/',
      },
    ]}
  />

  <FAQs
    title="Bitcoin Cash FAQ"
    subtitle="Get your BCH questions answered."
    highlight=""
    items={[
      {
        title: 'Where is Bitcoin Cash based?',
        description:
          'Bitcoin Cash is not a corporation, foundation or other type of traditional entity. Bitcoin Cash is no more than a digital ledger. People use independently produced software tools to copy and change the ledger. Bitcoin Cash is available everywhere but has no corporate offices.',
      },
      {
        title: 'Who created Bitcoin Cash?',
        description:
          'An anonymous person or team by the name of Satoshi Nakamoto released the Bitcoin whitepaper and initial code to the world in 2008.',
      },
      {
        title: 'Does the government approve of Bitcoin Cash?',
        description:
          'Every government reacts a little differently to Bitcoin Cash. Mostly, we don’t care what governments and corporations think, because those entities are responsible for creating and perpetuating the financial exclusion problems that Bitcoin Cash solves.',
      },
      {
        title: 'What makes Bitcoin Cash unique?',
        description:
          'Bitcoin Cash is the entry-level cryptocurrency as it is bringing the world into the crypto ecosystem. BCH is decentralized as we have multiple development and marketing teams and it is not a corporate coin. Bitcoin Cash has, and will always have, extremely low fees, less than a penny. Bitcoin Cash serves the $90 trillion global cash use case, unlike any other major cryptocurrency. The BCH community is second to none, a group of people who are working hard to fulfill Satoshi’s original vision.',
      },

      {
        title: 'Is Bitcoin Cash BCH different from Bitcoin Core BTC?',
        description:
          'Yes. Bitcoin Cash is building the original vision of Bitcoin as described in Satoshi Nakamoto’s whitepaper with big blocks to serve the whole world, whereas Bitcoin Core BTC deprecates Bitcoin as a medium of exchange and artificially limits transactions, leading to expensive transaction fees and delays.',
      },
      {
        title: 'Why does Bitcoin Cash exist?',
        description:
          'Bitcoin Cash enables an alternative monetary system with a predictable emission schedule and without a central authority so that nation-states can not continue to inflate away the value of your savings and assets for their own private benefit. Bitcoin Cash unites a world of trade unlimited by borders. It ends financial exclusion in the developing world and elsewhere.',
      },
      {
        title: 'Is my Bitcoin Cash wallet tied to my identity?',
        description:
          'Your Bitcoin Cash wallet is controlled by your private key or recovery phrase, as the case may be. It is not tied to your name, identity, government identification card, passport, etc. You custody your funds, not banks. If you lose your private key or recovery phrase, no one can recover your BCH for you. So be sure to securely custody your Bitcoin Cash. Securely back up your private key or recovery phrase.',
      },
    ]}
  />

  <Hero>
    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/arFDrjx_2JY"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Hero>

  <!-- Why BCH -->

  <Features
    highlight=""
    title="Why Bitcoin Cash"
    subtitle="What makes Bitcoin Cash special and what can you do with it?"
    items={[
      {
        title: 'Micro-Fees',
        description:
          "With Bitcoin Cash, it costs almost nothing to send value from one side of the planet to the other. That's  more money in your pocket & new use cases.",
        icon: 'tabler:wallet',
      },
      {
        title: 'Scalable',
        description:
          'Bitcoin Cash is world-scale peer-to-peer electronic cash that can scale to serve billions of daily users. As you grow, Bitcoin Cash grows with you. No limits!',
        icon: 'tabler:trending-up',
      },
      {
        title: 'Unstoppable',
        description:
          "No one can close your Bitcoin Cash wallet or freeze your funds. With optional privacy and built-in censorship resistance, BCH can't be stopped!",
        icon: 'tabler:rocket',
      },

      {
        title: 'Safe Haven',
        description:
          'Hyper-inflation and other government corruption reducing the value of your bank deposits? withdrawals limited? Bitcoin Cash fixes that.',
        icon: 'tabler:shield-check',
      },
      {
        title: 'Remittances',
        description:
          'Send money home across the world right now, no forms, no limits, no rejected transactions and almost no fees. Now you can do that with Bitcoin Cash.',
        icon: 'tabler:cash',
      },
      {
        title: 'Cross-Border',
        description:
          'Pay for your goods and services across borders, without limits, bank costs, delays and with almost no fees. Bitcoin Cash works everywhere!',
        icon: 'tabler:world',
      },
    ]}
  />

  <!-- End Why BCH -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get BCH updates',
        href: 'https://t.me/bitcoincashsite',
        target: '_blank',
        icon: 'tabler:brand-telegram',
      },
    ]}
  >
    <Fragment slot="title">Get BCH Updates</Fragment>

    <Fragment slot="subtitle">Stay up-to-date with Bitcoin Cash!</Fragment>
  </CallToAction>
</Layout>
